/*
  Global CSS file
*/
@font-face {
	font-family: 'Avant Garde Medium Oblique BT';
	font-style: normal;
	font-weight: normal;
	src: local('Avant Garde Medium Oblique BT'), url('AVGARDMI_2.woff') format('woff');
}
@font-face {
    font-family: 'texgyreadventorregular';
    src: url('texgyreadventor-regular-webfont.eot');
    src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-regular-webfont.woff') format('woff'),
         url('texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
body {
	background: #484848;
	color: #A5A5A5;
	font-family: 'texgyreadventorregular', sans-serif;
	font-size: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
body:nth-child(1) {
	margin: 40px;
}
.appHolder{
	display: flex;
}
div#root{
	height: 100%;
	display: flex;
}
